.content-section {
  min-height: 100vh;
  text-align: center;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("/images/bg.jpg") center top repeat;
  background-size: 600px auto;
}

.spacer {
  height: 100px;
}

html {
  scrollbar-gutter: stable;              
  scrollbar-width: thin;                
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}

html:hover {
  scrollbar-color: #714910 transparent;    
}

html::-webkit-scrollbar {
  width: 6px;         
  height: 6px;
}

html::-webkit-scrollbar-track,
html::-webkit-scrollbar-thumb {
  background: transparent;
}

html:hover::-webkit-scrollbar-thumb {
  background: #714910;    
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
.content-section::-webkit-scrollbar-button {
  display: none;
}



